<html>
    <head>
        <meta charset="UTF-8" />
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <style>
            h2 {
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                font-size: 24px;
            }

            h3 {
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                font-size: 18px;
            }

            g text {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            .axisLabel {
                text-anchor: end;
                font-size: 14px;
            }

            g.axes g.tick text {
                font-weight: normal;
                font-size: 12px;
            }

            .tooltip {
                position: absolute;
                text-align: center;
                width: 200px;
                height: 20px;
                padding-top: 10px;
                padding-left: 10px;
                font: 1rem sans-serif;
                background: white;
                border: 1px;
                border-radius: 8px;
                pointer-events: none;
            }

            table {
                font-size: small;
            }

            .legend {
                font-size: 16px;
                font-weight: bold;
                stroke: black;
                stroke-width: 0.1;
            }

            path.link:hover {
                opacity: 0.75;
            }
        </style>
        <!-- <script type='text/javascript' src="d3-sankey/d3-sankey.min.js"></script> -->
        <script>
            const draw = () => {
                let results = [
                    {
                        party: "Aontú",
                        seats: 0,
                        date: "2002-05-17",
                        share: 0.0,
                        dail: 29,
                    },
                    {
                        party: "Fianna Fáil",
                        seats: 81,
                        date: "2002-05-17",
                        share: 0.4879518072289157,
                        dail: 29,
                    },
                    {
                        party: "Fine Gael",
                        seats: 31,
                        date: "2002-05-17",
                        share: 0.1867469879518072,
                        dail: 29,
                    },
                    {
                        party: "Green",
                        seats: 6,
                        date: "2002-05-17",
                        share: 0.036144578313253,
                        dail: 29,
                    },
                    {
                        party: "Independent",
                        seats: 13,
                        date: "2002-05-17",
                        share: 0.0783132530120482,
                        dail: 29,
                    },
                    {
                        party: "Independents 4 Change",
                        seats: 0,
                        date: "2002-05-17",
                        share: 0.0,
                        dail: 29,
                    },
                    {
                        party: "Labour",
                        seats: 21,
                        date: "2002-05-17",
                        share: 0.1265060240963855,
                        dail: 29,
                    },
                    {
                        party: "People Before Profit",
                        seats: 0,
                        date: "2002-05-17",
                        share: 0.0,
                        dail: 29,
                    },
                    {
                        party: "Progressive Democrats",
                        seats: 8,
                        date: "2002-05-17",
                        share: 0.0481927710843373,
                        dail: 29,
                    },
                    {
                        party: "Sinn Féin",
                        seats: 5,
                        date: "2002-05-17",
                        share: 0.0301204819277108,
                        dail: 29,
                    },
                    {
                        party: "Social Democrats",
                        seats: 0,
                        date: "2002-05-17",
                        share: 0.0,
                        dail: 29,
                    },
                    {
                        party: "Socialist Party",
                        seats: 1,
                        date: "2002-05-17",
                        share: 0.0060240963855421,
                        dail: 29,
                    },
                    {
                        party: "Solidarity–PBP",
                        seats: 0,
                        date: "2002-05-17",
                        share: 0.0,
                        dail: 29,
                    },
                    {
                        party: "Workers and Unemployed",
                        seats: 0,
                        date: "2002-05-17",
                        share: 0.0,
                        dail: 29,
                    },
                    {
                        party: "Aontú",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Fianna Fáil",
                        seats: 78,
                        date: "2007-05-17",
                        share: 0.4698795180722891,
                        dail: 30,
                    },
                    {
                        party: "Fine Gael",
                        seats: 51,
                        date: "2007-05-17",
                        share: 0.3072289156626506,
                        dail: 30,
                    },
                    {
                        party: "Green",
                        seats: 6,
                        date: "2007-05-17",
                        share: 0.036144578313253,
                        dail: 30,
                    },
                    {
                        party: "Independent",
                        seats: 5,
                        date: "2007-05-17",
                        share: 0.0301204819277108,
                        dail: 30,
                    },
                    {
                        party: "Independents 4 Change",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Labour",
                        seats: 20,
                        date: "2007-05-17",
                        share: 0.1204819277108433,
                        dail: 30,
                    },
                    {
                        party: "People Before Profit",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Progressive Democrats",
                        seats: 2,
                        date: "2007-05-17",
                        share: 0.0120481927710843,
                        dail: 30,
                    },
                    {
                        party: "Sinn Féin",
                        seats: 4,
                        date: "2007-05-17",
                        share: 0.0240963855421686,
                        dail: 30,
                    },
                    {
                        party: "Social Democrats",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Socialist Party",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Solidarity–PBP",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Workers and Unemployed",
                        seats: 0,
                        date: "2007-05-17",
                        share: 0.0,
                        dail: 30,
                    },
                    {
                        party: "Aontú",
                        seats: 0,
                        date: "2011-02-25",
                        share: 0.0,
                        dail: 31,
                    },
                    {
                        party: "Fianna Fáil",
                        seats: 20,
                        date: "2011-02-25",
                        share: 0.1204819277108433,
                        dail: 31,
                    },
                    {
                        party: "Fine Gael",
                        seats: 76,
                        date: "2011-02-25",
                        share: 0.4578313253012048,
                        dail: 31,
                    },
                    {
                        party: "Green",
                        seats: 0,
                        date: "2011-02-25",
                        share: 0.0,
                        dail: 31,
                    },
                    {
                        party: "Independent",
                        seats: 14,
                        date: "2011-02-25",
                        share: 0.0843373493975903,
                        dail: 31,
                    },
                    {
                        party: "Independents 4 Change",
                        seats: 0,
                        date: "2011-02-25",
                        share: 0.0,
                        dail: 31,
                    },
                    {
                        party: "Labour",
                        seats: 37,
                        date: "2011-02-25",
                        share: 0.2228915662650602,
                        dail: 31,
                    },
                    {
                        party: "People Before Profit",
                        seats: 2,
                        date: "2011-02-25",
                        share: 0.0120481927710843,
                        dail: 31,
                    },
                    {
                        party: "Progressive Democrats",
                        seats: 0,
                        date: "2011-02-25",
                        share: 0.0,
                        dail: 31,
                    },
                    {
                        party: "Sinn Féin",
                        seats: 14,
                        date: "2011-02-25",
                        share: 0.0843373493975903,
                        dail: 31,
                    },
                    {
                        party: "Social Democrats",
                        seats: 0,
                        date: "2011-02-25",
                        share: 0.0,
                        dail: 31,
                    },
                    {
                        party: "Socialist Party",
                        seats: 2,
                        date: "2011-02-25",
                        share: 0.0120481927710843,
                        dail: 31,
                    },
                    {
                        party: "Solidarity–PBP",
                        seats: 0,
                        date: "2011-02-25",
                        share: 0.0,
                        dail: 31,
                    },
                    {
                        party: "Workers and Unemployed",
                        seats: 1,
                        date: "2011-02-25",
                        share: 0.0060240963855421,
                        dail: 31,
                    },
                    {
                        party: "Aontú",
                        seats: 0,
                        date: "2016-02-26",
                        share: 0.0,
                        dail: 32,
                    },
                    {
                        party: "Fianna Fáil",
                        seats: 44,
                        date: "2016-02-26",
                        share: 0.2784810126582278,
                        dail: 32,
                    },
                    {
                        party: "Fine Gael",
                        seats: 50,
                        date: "2016-02-26",
                        share: 0.3164556962025316,
                        dail: 32,
                    },
                    {
                        party: "Green",
                        seats: 2,
                        date: "2016-02-26",
                        share: 0.0126582278481012,
                        dail: 32,
                    },
                    {
                        party: "Independent",
                        seats: 19,
                        date: "2016-02-26",
                        share: 0.120253164556962,
                        dail: 32,
                    },
                    {
                        party: "Independents 4 Change",
                        seats: 4,
                        date: "2016-02-26",
                        share: 0.0253164556962025,
                        dail: 32,
                    },
                    {
                        party: "Labour",
                        seats: 7,
                        date: "2016-02-26",
                        share: 0.0443037974683544,
                        dail: 32,
                    },
                    {
                        party: "People Before Profit",
                        seats: 0,
                        date: "2016-02-26",
                        share: 0.0,
                        dail: 32,
                    },
                    {
                        party: "Progressive Democrats",
                        seats: 0,
                        date: "2016-02-26",
                        share: 0.0,
                        dail: 32,
                    },
                    {
                        party: "Sinn Féin",
                        seats: 23,
                        date: "2016-02-26",
                        share: 0.1455696202531645,
                        dail: 32,
                    },
                    {
                        party: "Social Democrats",
                        seats: 3,
                        date: "2016-02-26",
                        share: 0.0189873417721519,
                        dail: 32,
                    },
                    {
                        party: "Socialist Party",
                        seats: 0,
                        date: "2016-02-26",
                        share: 0.0,
                        dail: 32,
                    },
                    {
                        party: "Solidarity–PBP",
                        seats: 6,
                        date: "2016-02-26",
                        share: 0.0379746835443038,
                        dail: 32,
                    },
                    {
                        party: "Workers and Unemployed",
                        seats: 0,
                        date: "2016-02-26",
                        share: 0.0,
                        dail: 32,
                    },
                    {
                        party: "Aontú",
                        seats: 1,
                        date: "2020-02-20",
                        share: 0.00625,
                        dail: 33,
                    },
                    {
                        party: "Fianna Fáil",
                        seats: 38,
                        date: "2020-02-20",
                        share: 0.2375,
                        dail: 33,
                    },
                    {
                        party: "Fine Gael",
                        seats: 35,
                        date: "2020-02-20",
                        share: 0.21875,
                        dail: 33,
                    },
                    {
                        party: "Green",
                        seats: 12,
                        date: "2020-02-20",
                        share: 0.075,
                        dail: 33,
                    },
                    {
                        party: "Independent",
                        seats: 19,
                        date: "2020-02-20",
                        share: 0.11875,
                        dail: 33,
                    },
                    {
                        party: "Independents 4 Change",
                        seats: 1,
                        date: "2020-02-20",
                        share: 0.00625,
                        dail: 33,
                    },
                    {
                        party: "Labour",
                        seats: 6,
                        date: "2020-02-20",
                        share: 0.0375,
                        dail: 33,
                    },
                    {
                        party: "People Before Profit",
                        seats: 0,
                        date: "2020-02-20",
                        share: 0.0,
                        dail: 33,
                    },
                    {
                        party: "Progressive Democrats",
                        seats: 0,
                        date: "2020-02-20",
                        share: 0.0,
                        dail: 33,
                    },
                    {
                        party: "Sinn Féin",
                        seats: 37,
                        date: "2020-02-20",
                        share: 0.23125,
                        dail: 33,
                    },
                    {
                        party: "Social Democrats",
                        seats: 6,
                        date: "2020-02-20",
                        share: 0.0375,
                        dail: 33,
                    },
                    {
                        party: "Socialist Party",
                        seats: 0,
                        date: "2020-02-20",
                        share: 0.0,
                        dail: 33,
                    },
                    {
                        party: "Solidarity–PBP",
                        seats: 5,
                        date: "2020-02-20",
                        share: 0.03125,
                        dail: 33,
                    },
                    {
                        party: "Workers and Unemployed",
                        seats: 0,
                        date: "2020-02-20",
                        share: 0.0,
                        dail: 33,
                    },
                ];

                results.forEach((d) => {
                    d.date = new Date(d.date);
                });

                let partyColorer = {
                    "AAA–PBP": "#FF0000",
                    "Anti H-Block": "#8f8b8f",
                    Aontú: "#FFA233",
                    "Catholic Democrats": "#8f8b8f",
                    "Communist Party of Ireland": "#8f8b8f",
                    "Democratic Left": "#C41E3A",
                    "Democratic Socialist": "#ff0000",
                    "Direct Democracy Ireland": "#8f8b8f",
                    "Fianna Fáil": "#4CBB17",
                    "Fine Gael": "#0000FF",
                    "Fís Nua": "#8f8b8f",
                    Green: "#7CFC00",
                    "Green Party/ Comhaontas Glas": "#7CFC00",
                    Independent: "#1d1e3b",
                    "Independent Fianna Fáil": "#8f8b8f",
                    "Independent Ireland": "#66eded",
                    "Independents 4 Change": "#8f8b8f",
                    "Irish Democratic Party": "#8f8b8f",
                    "Irish Freedom Party": "#8f8b8f",
                    Labour: "#C41E3A",
                    "Non-Party": "#1d1e3b",
                    "People Before Profit": "#FF0000",
                    "Progressive Democrats": "#4682B4",
                    Renua: "#FCFF33",
                    "Renua Ireland": "#FCFF33",
                    "Right to Change": "#8f8b8f",
                    "Sinn Féin": "#93C572",
                    "Sinn Féin The Workers' Party": "#8f8b8f",
                    "Social Democrats": "#d52cde",
                    "Socialist Labour": "#FF0000",
                    "Socialist Party": "#FF0000",
                    "Solidarity - People Before Profit": "#FF0000",
                    "Solidarity–PBP": "#FF0000",
                    "The Irish Party": "#8f8b8f",
                    "The Labour Party": "#C41E3A",
                    "The National Party - An Páirtí Náisiúnta": "#8f8b8f",
                    "United People": "#8f8b8f",
                    "Workers Party": "#8f8b8f",
                    "Workers and Unemployed": "#8f8b8f",
                    "Workers' Party": "#8f8b8f",
                };

                let legendLabeller = {
                    "Fianna Fáil": "Fianna Fáil",
                    "Fine Gael": "Fine Gael",
                    Labour: "Labour",
                    Independent: "Independent",
                    "Sinn Féin": "Sinn Féin",
                    "Progressive Democrats": "PDs",
                    Green: "Green",
                    "Workers' Party": "Workers Party",
                    "Solidarity–PBP": "Sol–PBP",
                    "Independent Fianna Fáil": "Ind FF",
                    "Social Democrats": "Soc Dems",
                    "Democratic Left": "Dem Left",
                    "Independents 4 Change": "Ind 4 Change",
                    "Sinn Féin The Workers' Party": "SF Workers Party",
                    "Socialist Party": "Soc Party",
                    "Democratic Socialist": "Dem Soc",
                    "People Before Profit": "PBP",
                    "Anti H-Block": "Anti H-Block",
                    Aontú: "Aontú",
                    "Socialist Labour": "Soc Lab",
                    "Workers and Unemployed": "WAU",
                };

                let dateformatter = d3.timeFormat("%b %d, %y");
                let percentageFormatter = d3.format(".1%");

                // CREATE xticks TO USE AS X-AXIS VALUES
                let xvalues = new Set(
                    results.map((d) => dateformatter(d.date)),
                );
                let xticks = [];
                xvalues.forEach((x) => {
                    xticks.push(new Date(x));
                });

                // CREATE THE `stacked_data` OBJECT
                const stacked_data = d3
                    .stack()
                    .offset(d3.stackOffsetExpand)
                    .order(d3.stackOrderInsideOut)
                    .keys(d3.union(results.map((d) => d.party)))
                    .value(([, D], key) => D.get(key).seats)(
                    d3.index(
                        results,
                        (d) => d.date,
                        (d) => d.party,
                    ),
                );

                // SET THE DIMENSIONS
                const width = 1000;
                const height = 500;

                const margin = {
                    top: 75,
                    bottom: 100,
                    left: 75,
                    right: 20,
                };

                const plot_height = height - margin.top - margin.bottom;
                const plot_width = width - margin.left - margin.right;

                // CREATE THE `canvas`
                var canvas = d3
                    .select("#canvas")
                    .append("svg")
                    .style("background", "aliceblue")
                    .attr("height", height)
                    .attr("width", width);

                // CREATE THE `plot`
                var plot = canvas
                    .append("g")
                    .attr(
                        "transform",
                        "translate(" + margin.left + "," + margin.top + ")",
                    );

                // CREATE THE X-SCALE
                scaleX = d3
                    .scaleUtc()
                    .domain(d3.extent(results, (d) => d.date))
                    .range([0, plot_width]);

                // CREATE THE Y-SCALE
                scaleY = d3
                    .scaleLinear()
                    .domain([
                        0,
                        d3.max(stacked_data, (d) => d3.max(d, (d) => d[1])),
                    ])
                    .rangeRound([plot_height, 0]);

                // CREATE THE `area` AREA FUNCTION THAT DRAWS THE DATA
                const area = d3
                    .area()
                    .x((d) => scaleX(d.data[0]))
                    .y0((d) => scaleY(d[0]))
                    .y1((d) => scaleY(d[1]));

                const streamgraph = plot
                    .append("g")
                    .selectAll()
                    .data(stacked_data)
                    .join("path")
                    .attr("fill", (d) => partyColorer[d.key])
                    .attr("d", area);

                // AXES
                let xAx = d3.axisBottom(scaleX);
                let yAx = d3.axisLeft(scaleY);

                let xaxis = plot
                    .append("g")
                    .attr("transform", `translate(0, ${plot_height})`)
                    .attr("class", "axes")
                    .call(xAx.tickFormat(dateformatter).tickValues(xticks));

                xaxis
                    .selectAll("text")
                    .attr("transform", "translate(-10,10)rotate(-45)")
                    .style("text-anchor", "end");

                let yaxis = plot
                    .append("g")
                    .attr("transform", "translate(0, 0)")
                    .attr("class", "axes")
                    .call(yAx.tickFormat(percentageFormatter));

                // AXIS LABELS
                plot.append("g")
                    .append("text")
                    .attr("class", "axisLabel")
                    .attr("x", plot_width)
                    .attr("y", plot_height + margin.bottom * 0.75)
                    .text("Election Date");

                plot.append("g")
                    .append("text")
                    .attr("class", "axisLabel")
                    .attr("x", 0)
                    .attr("y", -(margin.left * 0.75))
                    .attr("transform", "rotate(-90)")
                    .text("Share of Seats");

                // LEGEND
                //
                const legends = canvas.append("g").attr("class", "legend");

                let parties = new Set(results.map((d) => d.party));

                legends
                    .selectAll("legend")
                    .data(parties) // a convenience array
                    .enter()
                    .append("text")
                    .attr("class", "legend-label")
                    .attr("x", (d, i) => {
                        if (i < 7) {
                            return margin.left + i * 135;
                        } else if (i < 14) {
                            return margin.left + (i - 7) * 135;
                        } else {
                            return margin.left + (i - 14) * 135;
                        }
                    })
                    .attr("y", (d, i) => {
                        if (i < 7) {
                            return 20;
                        } else if (i < 14) {
                            return 45;
                        } else {
                            return 65;
                        }
                    })
                    .text((d) => legendLabeller[d])
                    .style("fill", (d) => {
                        return partyColorer[d];
                    });

                var tooltip = d3
                    .select("body")
                    .append("div")
                    .attr("class", "tooltip")
                    .style("opacity", 0);

                streamgraph
                    .on("mouseover", function (e, d) {
                        tooltip.transition().duration(50).style("opacity", 0.9);
                        tooltip
                            .style("left", e.pageX + "px")
                            .style("top", e.pageY + "px")
                            .html(d.key);
                    })
                    .on("mouseout", function (e, d) {
                        tooltip.transition().duration(50).style("opacity", 0);
                    });
            };
        </script>
    </head>

    <body onload="draw()">
        <h2></h2>
        <h3></h3>
        <div id="canvas"></div>
    </body>
</html>
